/target/

*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# eclipse stuff
.classpath
.project
.settings/
eclipse-*

# emacs
*~

# intellij
.idea*
*.iml

# stupid apple crap
.DS_Store

# other
test
/bin/
